@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navBar__list{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

button {
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
}

.register{
    background-color: white;
    color: black;
}